.topbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #5C6D7E;
    margin-bottom: 1rem;
}

.topbar__logo {
    width: 20%;
    font-size: 2rem;
    color: $white;
}

.topbar__navigation {
    width: 80%;
    margin-right: 2rem;
}