@mixin icon($iconName, $iconVariant: '') {
    $path: '/assets/icons/'+ $iconName + '-'+ $iconVariant + '.svg';

    background-image: url(#{$path});
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}